{% extends "base.html" %}

{% block title %}
Одногруппники
{% endblock %}
{% block style %}

{% endblock %}

{% block body %}
<h1>Мои одногруппники</h1> 
         <br> 
         <table width="200"> 
             <thead> 
                 <tr> 
                 <th>Name</th> 
                 <th>Last name</th> 
                 <th>Age</th> 
                 </tr> 
             </thead> 
             <tr> 
                 <td>Ivan</td> 
                 <td>Ivanov</td> 
                 <td>17</td> 
  
             </tr> 
             <tr> 
                 <td>Nikita</td> 
                 <td>Vurman</td> 
                 <td>16</td> 
             </tr> 
             <tr> 
                 <td>Mark</td> 
                 <td>Stepanov</td> 
                 <td>17</td> 
             </tr> 
             <tr> 
                 <tfoot> 
                     <td>Danil</td> 
                     <td>Nurgaleev</td> 
                     <td>16.6</td> 
                 </tfoot> 
             </tr> 
  
         </table> 
{% endblock %}
